{%block cssImport%}{%endblock%}

{% block body %}
<div class="contact-form">
    <div class="hidden" id="message" style="margin-left: 95px;">
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Таны хүсэлт амжилттай илгээгдлээ!</strong>
        </div>
    </div>
    <form class="form-horizontal" id="contactForm" method="POST" action="{{bundleHref(bundlePath='contact/main/send')}}" role="form">
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Санал:</label>
            <div class="col-sm-10">
                <select name="offerType" class="form-control">
                    {% for it in offerTypes%}
                    <option value="{{it}}">{{it}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Овог:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="lastname">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-lg-2 col-md-2 col-sm-2 control-label">Нэр:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="firstname">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">И-мэйл*:</label>
            <div class="col-sm-10">
                <input type="text" required class="form-control" name="email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Хүсэлт*:</label>
            <div class="col-sm-10">
                <textarea class="form-control" required rows="3" name="offer"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Илгээх</button>
            </div>
        </div>
    </form>
</div>
{%endblock%}

{%block jsImport%}
{%endblock%}
{% block jsScript %}
<script>
    (function() {
        if (window.location.href.indexOf("send") > -1) {
            var msgDiv = document.getElementById('message');
            msgDiv.className = "";
        } else {
            document.getElementById('message').className = "hidden";
        }
    })();
</script>
{% endblock %}